{
  "APIs": {
    /*Not in production there needs to be a specific soluton for security*/
    "SearchApi": {
      "BaseUrl": "https://lh-openapi.dev.local",
      "BearerToken": "your_token_here"
    }
  },

  "Serilog": {
    "Using": [
      "Serilog.Sinks.BrowserConsole"
    ],
    "MinimumLevel": {
      "Default": "Information",
      "Override": {
        "Microsoft": "Verbose",
        "System": "Verbose"
      }
    },
    "WriteTo": [
      {
        "Name": "BrowserConsole",
        "Args": {
          "formatter": "Serilog.Formatting.Compact.CompactJsonFormatter, Serilog.Formatting.Compact"
        }
      }
    ],
    "Enrich": [ "FromLogContext", "WithMachineName", "WithProcessId", "WithThreadId" ],
    "Properties": {
      "Application": "TELBlazor ShowCase Static Client",
      "Environment": "Development"
    }
  },
  "Properties": {
    "Application": "TELBlazor ShowCase Static Client",
    "Environment": "Development"
  },
  "AllowedHosts": "*"
}
